
<section class="body">
    <div class="container-fluid p-0" style="height: 100%; width: 100%;">
        <div class="row justify-content-center m-0" style=" width: 100%;">
            <div class="col-12 title-page">
                Вход
            </div>
            <div class="col-12">
                <input type="text" name="login" value="" id="login"/>
                <input type="password" name="password" value="" id="password"/>
                <button id="submit_btn">Войти</button>
            </div>
        </div>
    </div>
</section>